# Java
*.class
*.jar
*.war
*.ear
/target/
*.iml
/.idea/

# Maven
/logs/
*.log
*.mvn/
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.*
