<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Page</title>
    <!-- Bootstrap CSS -->
    <style>
        body {
            font-family: 'GmarketSansMedium', sans-serif;
        }
        .form-container {
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h1>상품 페이지</h1>
    <p>여기에 상품 관련 내용을 작성하세요.</p>
    <a href="/admin/product/add" class="btn btn-info">상품 추가 페이지로 이동</a>
    <a href="/admin/orders" class="btn btn-info">상품 관리 페이지로 이동</a>

    <!-- 상품 리스트 -->
    <div class="form-container mt-4">
    <h3 class="mt-4">상품 리스트</h3>
        <form action="product" method="get">
            <select id="category" name="category" class="form-control" onchange="this.form.submit()">
                <option value="" th:selected="${selectedCategory == ''}" disabled selected>카테고리 선택</option>
                <option value="all" th:selected="${selectedCategory == 'all'}">전체</option>
                <option value="feed" th:selected="${selectedCategory == 'feed'}">사료</option>
                <option value="snack" th:selected="${selectedCategory == 'snack'}">간식</option>
                <option value="supplement" th:selected="${selectedCategory == 'supplement'}">영양제</option>
            </select>
        </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>상품 ID</th>
            <th>상품 이름</th>
            <th>상품 브랜드</th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf 반복문을 사용하여 필터링된 상품 리스트 출력 -->
        <tr th:each="product : ${product}">
            <td th:text="${product.id}">상품 ID</td>
            <td>
                <!-- 상품 이름에 링크 추가하여 상세 페이지로 이동 -->
                <a th:href="@{'/admin/product/details/' + ${product.id}}" th:text="${product.name}">상품 이름</a>
            </td>
            <td th:text="${product.maker}">상품 브랜드</td>
            <td>
                <!-- 삭제 버튼 추가 -->
                <form th:action="@{'/admin/product/delete/' + ${product.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/> <!-- DELETE 요청을 위한 hidden input -->
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

</div>
</body>
</html>
