<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Management</title>
  <style>
    body {
      font-family: 'GmarketSansMedium', sans-serif;
    }
    .form-container {
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
<div layout:fragment="content" class="container my-3">
  <h1>상품 관리 페이지</h1>

  <!-- 상품 추가 폼 -->
  <div class="form-container">
    <h3>상품 추가</h3>
    <form id="productForm" th:action="@{/admin/product/add/product}" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="productName" class="form-label">상품 이름</label>
        <input type="text" class="form-control" id="productName" name="productName" required>
      </div>
      <div class="mb-3">
        <label for="productMaker" class="form-label">상품 브랜드</label>
        <input type="text" class="form-control" id="productMaker" name="productMaker" required>
      </div>

      <div class="mb-3">
        <label for="productType" class="form-label">상품 타입</label>
        <select class="form-control" id="productType" name="productType" required>
          <option value="" disabled selected>상품 타입을 선택하세요.</option>
          <option value="feed">사료</option>
          <option value="snack">간식</option>
          <option value="supplement">영양제</option>
        </select>
      </div>

      <!-- 상품 상세 타입 추가 -->
      <div class="mb-3">
        <label for="productSubtype" class="form-label">상품 상세 타입</label>
        <input type="text" class="form-control" id="productSubtype" name="productSubtype" placeholder="상세 타입을 입력하세요." required>
      </div>

      <div class="mb-3">
        <label for="productPrice" class="form-label">상품 가격</label>
        <input type="text" class="form-control" id="productPrice" name="productPrice" placeholder="상품 가격을 입력하세요." required>
      </div>

      <div class="mb-3">
        <label for="animalName" class="form-label">동물 선택</label>
        <select class="form-select" id="animalName" name="animalName" required>
          <option value="" disabled selected>대분류 동물을 선택하세요</option>
          <option th:each="animal : ${animals}" th:value="${animal.name}" th:text="${animal.name}"></option>
        </select>
      </div>

      <div class="mb-3">
        <label for="productOrigin" class="form-label">원산지</label>
        <input type="text" class="form-control" id="productOrigin" name="productOrigin" placeholder="원산지를 입력하세요." required>
      </div>
      <div class="mb-3">
        <label for="productAllRawmaterial" class="form-label">전체 사용 원료</label>
        <input type="text" class="form-control" id="productAllRawmaterial" name="productAllRawmaterial" placeholder="사용원료를 입력하세요." required>
      </div>
      <div class="mb-3">
        <label for="productIngredient" class="form-label">영양성분</label>
        <input type="text" class="form-control" id="productIngredient" name="productIngredient" placeholder="영양성분을 입력하세요." required>
      </div>
      <div class="mb-3">
        <label for="productCalories" class="form-label">칼로리</label>
        <input type="text" class="form-control" id="productCalories" name="productCalories" placeholder="상품 칼로리를 입력하세요." required>
      </div>
      <div class="mb-3">
        <label for="productWeight" class="form-label">실 중량</label>
        <input type="text" class="form-control" id="productWeight" name="productWeight" placeholder="상품 실 중량을 입력하세요." required>
      </div>
      <div class="mb-3">
        <label for="productAge" class="form-label">연령대</label>
        <input type="text" class="form-control" id="productAge" name="productAge" placeholder="상품 사용 연령대를 입력하세요." required>
      </div>
      <div class="mb-3">
        <label for="productFunction" class="form-label">기능</label>
        <input type="text" class="form-control" id="productFunction" name="productFunction" placeholder="상품 기능을 입력하세요." required>
      </div>

      <div class="mb-3">
        <label for="productAllergies" class="form-label">알러지 목록</label>
        <select class="form-select" id="productAllergies" name="productAllergies" multiple required>
          <option th:each="allergy : ${allergies}" th:value="${allergy.id}" th:text="${allergy.name}"></option>
        </select>
        <small class="form-text text-muted">Ctrl 키를 눌러 여러 개 선택이 가능합니다.</small>
      </div>

      <!-- 병명 추가 -->
      <div class="mb-3">
        <label for="diseaseNames" class="form-label">병명 목록</label>
        <select class="form-select" id="diseaseNames" name="diseaseNames" multiple required>
          <option th:each="disease : ${diseases}" th:value="${disease.id}" th:text="${disease.name}"></option>
        </select>
        <small class="form-text text-muted">Ctrl 키를 눌러 여러 개 선택이 가능합니다.</small>
      </div>


      <div class="mb-3">
        <label for="productMainImageUrls" class="form-label">대표 이미지 업로드</label>
        <input type="file" class="form-control" id="productMainImageUrls" name="productMainImageUrls" accept="image/*">
      </div>

      <div class="mb-3">
        <label for="productImageUrls" class="form-label">이미지 업로드</label>
        <input type="file" class="form-control" id="productImageUrls" name="productImageUrls" accept="image/*" multiple required>
      </div>

      <div class="mb-3">
        <label for="productDetailImageUrls" class="form-label">세부 이미지 업로드</label>
        <input type="file" class="form-control" id="productDetailImageUrls" name="productDetailImageUrls" accept="image/*" multiple>
      </div>

      <button type="submit" class="btn btn-primary">추가</button>
    </form>
  </div>
</div>
</body>
</html>
