<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Page</title>
    <!-- Bootstrap CSS -->
    <style>
        body {
            font-family: 'GmarketSansMedium', sans-serif;
        }
        .form-container {
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h1>병명 페이지</h1>
    <p>여기에 질환 관련 내용을 작성하세요.</p>
    <a href="/admin/disease/add" class="btn btn-info">병명 추가 페이지로 이동</a>
    <a href="/admin/disease/sub" class="btn btn-info">소분류 병명 리스트 페이지로 이동</a>
    <a href="/admin/disease/new" class="btn btn-info">추가 요청된 병명</a>

    <!-- 병명 리스트 -->
    <div class="form-container mt-4">
    <h3 class="mt-4">병명 리스트</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>대분류 병명</th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf 반복문을 사용하여 병명 리스트 출력 -->
        <tr th:each="disease : ${diseases}">
            <td th:text="${disease.name}">병명</td>
            <td>
                <!-- 삭제 버튼 추가 -->
                <form th:action="@{'/admin/disease/delete/' + ${disease.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/> <!-- DELETE 요청을 위한 hidden input -->
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

</div>
</body>
</html>
