<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allergy Page</title>
    <!-- Bootstrap CSS -->
    <style>
        body {
            font-family: 'GmarketSansMedium', sans-serif;
        }
        .form-container {
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h1>동물 리스트 페이지</h1>

    <!-- 소분류 동물 리스트 -->
    <div class="form-container mt-4">
    <h3 class="mt-4">소분류 동물 리스트</h3>
    <form action="sub" method="get">
        <select name="type" class="form-control" onchange="this.form.submit()">
            <option value="" disabled selected>대분류 선택</option>
            <option value="">전체</option>
            <!-- 대분류 동물 리스트는 서버에서 받아온다 -->
            <option th:each="category : ${animalCategories}" th:value="${category.name}" th:text="${category.name}"></option>
        </select>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>대분류 동물</th>
            <th>동물 이름</th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf 반복문을 사용하여 소분류 동물 리스트 출력 -->
        <tr th:each="subcategory : ${subcategories}">
            <td th:text="${subcategory.animal.name}">대분류 동물</td>
            <td th:text="${subcategory.name}">소분류 동물 이름</td>
            <td>
                <!-- 삭제 버튼 추가 -->
                <form th:action="@{'/admin/animal/sub/delete/' + ${subcategory.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/> <!-- DELETE 요청을 위한 hidden input -->
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

</div>
</body>
</html>