<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <!-- Bootstrap CSS -->
    <style>
        body {
            font-family: 'GmarketSansMedium', sans-serif;
        }
        .form-container {
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<!-- 레이아웃의 'content' Fragment를 채웁니다 -->
<div layout:fragment="content" class="container my-3">
    <h1>관리자 페이지</h1>
    <p>여기에서 관리 기능을 수행할 수 있습니다.</p>
    <a href="/admin/chart/1" class="btn btn-info">동물 별 질병 분포</a>
    <a href="/admin/chart/2" class="btn btn-info">각 질병별 동물 분포</a>
    <a href="/admin/chart/3" class="btn btn-info">지역별 제휴 병원 현황(전 지역)</a>
</div>
</body>
</html>